[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "deps/trajopt"]
	path = deps/trajopt
	url = https://github.com/MiaoDragon/trajopt.git
[submodule "deps/psopt"]
	path = deps/psopt
	url = https://github.com/MiaoDragon/psopt
